@import './utils.scss';

.login-page {
  @extend %flex-row-center;

  flex-direction: column;
  width: 100%;
}

.login-container {
  border: 1px solid white;
  border-radius: 4px;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}

.no-account {
  margin: 20px;
}

.login-page a {
  @extend %cancel;
  background-color: lightgray;
  text-decoration: none;
  color: #333333;
  
}

.error {
  border: 1px solid #333333;
  background-color: #333333;
  color: red;
  padding: 5px;
}

.login-header {
  background-color: #333333;
  padding: 10px;

  h2 {
    font-size: 20px;
    color: white;
    text-align: center;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 20px;

  p {
    font-size: 16px;
  }
}

.login-inputs {
  position: relative;
  width: 100%;

  i {
    position: absolute;
    top: 12%;
    left: 2%;
  }

  input {
    background-color: white;
    margin-bottom: 2rem;
    height: 30px;
    width: 100%;
    border: 1px solid #333333;
    padding-left: 12%;
    font-size: 14px;
    transition: 0.3s;

    :focus {
      border-color: $blue;
      box-shadow: 0 0 8px 0 $blue;
    }
  }
}

.login-inputs input:invalid:not( :focus ) {
  outline: 1px solid red;
  border: 1px solid red;
}

#login {
  padding: 15px 65px;
  background-color: white;
  color: #333333;
  border-radius: 4px;
  align-self: center;
  box-shadow: 2px 2px yellow;

  :hover {
    background-color: rgba(51, 51, 51, 0.836);
    color: white;
  }
}

.cancel {
  @extend %cancel;

  background-color: lightgray;
}

@media ( max-width: 767px ) {

  .login-container {
    width: 100%;
  }

  .login-inputs input {
    padding-left: 13%;
  }
}
