@import './utils.scss';

.make-player-page{
    @extend %flex-row-center;
   flex-direction: column;
    width: 100%;  
}

.make-player-container{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    h2 {
        background-color: #333;
    padding: 10px;
    font-size: 20px;
        color: #fff;
        text-align: center;
    }
}

.player-form {

        display: flex;
        flex-direction: column;
       margin:20px;
        p{
            font-size: 16px;
        }
   
}